* {
    background-color: black;
    color: #ffae00;
    font-size: large;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.main-body h1 {
    font-size: 2.5rem;
}

.main-body p {
    text-align: center;
}